<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="website icon" type="png" href="../theme/03/assets/img/snake.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../theme/03/assets/css/index.css">
    <title>Happy New Year</title>
</head>
<body>
    
    <div class="box-slider">
        <div class="slider1">

            <img src="../theme/03/assets/img/bgr.jpg" alt="">
            <div class="happynewyear">
                <div class="textHappynewyear">
                    <div class="box-span">
                        <span></span>
                    </div>
                    <div class="box-span">
                        <span></span>
                    </div>
                    <div class="box-span">
                        <span></span>
                    </div>
                    <div class="box-span">
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="box-button">
                <div class="button">
                    <button >Ấn vào đây nè! </button>
                </div>
            </div>
            <!-- <div class="box-button">
                <div class="button">
                    <button>Ấn vào đây nè!</button>
                    <span><i class="fa-solid fa-heart"></i></span>
                </div>
            </div> -->
            <div class="box-slider_img1">
                <div class="slider-img1">
                    <img src="../theme/03/assets/img/circular-pattern.png" alt="">
                </div>
                <div class="pattern">
                    <img src="../theme/03/assets/img/pattern.png" alt="">
                </div>
            </div>
            <div class="circle">
                <span></span>
            </div>
            <div class="box-flower">
                <div class="flower-img">
                    <img src="../theme/03/assets/img/flower.png" alt="">
                </div>
                <div class="flower-img">
                    <img src="../theme/03/assets/img/flower.png" alt="">
                </div>
                <div class="flower-img">
                    <img src="../theme/03/assets/img/flower1.png" alt="">
                </div>
                <div class="flower-img">
                    <img src="../theme/03/assets/img/flower1.png" alt="">
                </div>
                <div class="flower-img">
                    <img src="../theme/03/assets/img/flower2.png" alt="">
                </div>
                <div class="flower-img">
                    <img src="../theme/03/assets/img/flower2.png" alt="">
                </div>
            </div>
            <div class="box-slider_img2">
                <div class="box-slider-img2">
                    <div class="slider-img2">
                        <img src="../theme/03/assets/img/lanterns.png" alt="">
                    </div>
                </div>
                <div class="box-slider-img3">
                    <div class="slider-img3">
                        <img src="../theme/03/assets/img/lanterns.png" alt="">
                    </div>
                </div>
                <div class="box-slider-img4">
                    <div class="slider-img4">
                        <img src="../theme/03/assets/img/lanterns.png" alt="">
                    </div>
                </div>
                <div class="box-slider-img5">
                    <div class="slider-img5">
                        <img src="../theme/03/assets/img/lanterns.png" alt="">
                    </div>
                </div>
            </div>
            <div class="slider-img6">
                <img src="../theme/03/assets/img/cloud-red1.png" alt="">
                <img src="../theme/03/assets/img/cloud-red2.png" alt="">
                <img src="../theme/03/assets/img/cloud-red2.png" alt="">
            </div>
            <div class="box-lion_dance">
                <div class="lion_dance1">
                    <img src="../theme/03/assets/img/Lion-dance.gif" alt="">
                </div>
                <div class="lion_dance2">
                    <img src="../theme/03/assets/img/Lion-dance2.gif" alt="">
                </div>
            </div>
            <div class="cat">
                <img src="../theme/03/assets/img/rong2.png" alt="">
            </div>
            <div class="box-number">
                <div class="number2023">
                    <div class="number">
                        <span>2</span>
                    </div>
                    <div class="number">
                        <span>0</span>
                    </div>
                    <div class="number">
                        <span>2</span>
                    </div>
                    <div class="number">
                        <span>5</span>
                    </div>
                </div>
            </div>
            <div class="box-rim">
                <div class="rim1">
                    <img src="../theme/03/assets/img/rim1.png" alt="">
                </div>
                <div class="rim2">
                    <img src="../theme/03/assets/img/rim1.png" alt="">
                </div>
            </div>
            <div class="box-texture_clouds">
                <div class="texture_clouds1">
                    <img src="../theme/03/assets/img/texture-clouds.png" alt="">
                </div>
                <div class="texture_clouds1">
                    <img src="../theme/03/assets/img/texture-clouds.png" alt="">
                </div>
                <div class="texture_clouds1">
                    <img src="../theme/03/assets/img/texture-clouds.png" alt="">
                </div>
                <div class="texture_clouds1">
                    <img src="../theme/03/assets/img/texture-clouds.png" alt="">
                </div>
                <div class="texture_clouds1">
                    <img src="../theme/03/assets/img/texture-clouds.png" alt="">
                </div>
            </div>
            <div class="box-big_clouds">
                <div class="big_clouds1">
                    <img src="../theme/03/assets/img/big-clouds1.png" alt="">
                </div>
                <div class="big_clouds2">
                    <img src="../theme/03/assets/img/big-clouds2.png" alt="">
                </div>
                <div class="big_clouds3">
                    <img src="../theme/03/assets/img/big-clouds3.png" alt="">
                </div>
            </div>
        </div>
        <div class="slider2">
            <div class="rhombus"></div>
            <div class="rhombus"></div>
            <div class="rhombus-img">
                <img id="img-cua-em" src="<%= data.image %>" alt="">
            </div>
            <div class="mail">
                <button><i class="fa-regular fa-envelope"></i></button>
                <span class="heart"><i class="fa-solid fa-heart"></i></span>

            </div>
        </div>
        <div class="slider3">
            <div class="box-content">
                <div class="left">
                    <img src="../theme/03/assets/img/bg1.jpg" alt="">
                    <div class="center">

                    </div>
                    <div class="lanterns-content">
                        <img src="../theme/03/assets/img/lanterns.png" alt="">
                    </div>
                    <div class="box-big_flowers">
                        <img src="../theme/03/assets/img/big-flower.png" alt=""> 
                        <img src="../theme/03/assets/img/big-flower.png" alt="">
                        <img src="../theme/03/assets/img/big-flower.png" alt="">
                        <img src="../theme/03/assets/img/big-flower1.png" alt="">
                        <img src="../theme/03/assets/img/big-flower1.png" alt="">
                        <img src="../theme/03/assets/img/big-flower2.png" alt="">
                        <img src="../theme/03/assets/img/big-flower2.png" alt="">
                        <img src="../theme/03/assets/img/big-flower2.png" alt="">
                    </div>
                    <div class="box-circle_left">
                        <div class="circle_left">
                            <img src="../theme/03/assets/img/circular-pattern.png" alt="">
                            <div class="text-content">
                                <h2>Happy New</h2>
                                <h1>Year</h1>
                                <span>2025</span>
                            </div>
                        </div>
                    </div>
                    <div class="apricot_blossom">
                        <img src="../theme/03/assets/img/apricot-blossom.png" alt="">
                        <img src="../theme/03/assets/img/apricot-blossom.png" alt="">
                        <img src="../theme/03/assets/img/apricot-blossom.png" alt="">
                        <img src="../theme/03/assets/img/apricot-blossom.png" alt="">
                        <img src="../theme/03/assets/img/apricot-blossom.png" alt="">
                        <img src="../theme/03/assets/img/apricot-blossom.png" alt="">
                    </div>
                </div>
                <div class="right" id="message-box">
                    <div class="content">
                        <div class="title">
                            <h1 id="name-cua-em"><%= data.title %>!</h1>
                        </div>
                        <p id="message-content">
                        <%= data.content %>    
                        </p>
                        <div class="fixedContent">
                            <h3>❤️ From <%= data.name %></h3>
                        </div>
                        <button id="next-button">Tiếp tục</button>
                    </div>
                </div>
                <div class="right" id="image-box" style="display:none;">
                    <div class="image-grid">
                        <% if (data.images.length===0) { %>
                            <p>Không có ảnh nào để hiển thị.</p>
                            <% } else if (data.images.length===1) { %>
                                <div class="image-row">
                                    <img src="<%= data.images[0] %>" alt="Image 1" class="fade-in">
                                </div>
                                <% } else if (data.images.length===2) { %>
                                    <div class="image-row">
                                        <img src="<%= data.images[0] %>" alt="Image 1" class="fade-in">
                                        <img src="<%= data.images[1] %>" alt="Image 2" class="fade-in">
                                    </div>
                                    <% } else if (data.images.length==3) { %>
                                        <div class="image-row">
                                                <img src="<%= data.images[0] %>" alt="Image 1" class="fade-in">
                                                <img src="<%= data.images[1] %>" alt="Image 2" class="fade-in">
                                            </div>
                                            <div class="image-row">
                                                <img src="<%= data.images[2] %>" alt="Image 3" class="fade-in">
                                            </div>
                                        <% } else { %>
                                            <div class="image-row">
                                                <img src="<%= data.images[0] %>" alt="Image 1" class="fade-in">
                                                <img src="<%= data.images[1] %>" alt="Image 2" class="fade-in">
                                            </div>
                                            <div class="image-row">
                                                <img src="<%= data.images[2] %>" alt="Image 3" class="fade-in">
                                                <img src="<%= data.images[3] %>" alt="Image 4" class="fade-in">
                                            </div>
                                            <!-- <p>WIP</p> -->
                                            <% } %>
                    </div>
                    <button id="previos-button">Trở về</button>
                </div>
            <i class="fa-solid fa-xmark"></i>
        </div>
    </div>

    <audio id="song">
        <source src="../theme/03/assets/music/nhac.mp3" type="audio/mp3">
    </audio>
<!-- <script>
    document.addEventListener("DOMContentLoaded", function() {
        const images = document.querySelectorAll('.fade-in');
        let delay = 1;
    
        images.forEach((img, index) => {
            setTimeout(() => {
                img.classList.add('show');
            }, delay);
            delay += 10000;
        });
    });
</script> -->
<script>
    document.getElementById("next-button").addEventListener("click", function () {
        document.getElementById("message-box").style.display = "none";
        document.getElementById("image-box").style.display = "grid";
        const prevButton = document.getElementById("previos-button");
        const images = document.querySelectorAll('.fade-in');
        let delay = 1000;
    
        images.forEach((img, index) => {
            setTimeout(() => {
                img.classList.add('show');
                if (index === images.length - 1) {
                    setTimeout(() => {
                        prevButton.classList.add('show-button'); 
                    }, 2000);
                }
            }, delay);
            delay += 2000;
        });
    });
     
</script>
<script>
    document.getElementById("previos-button").addEventListener("click", function() {
        document.getElementById("message-box").style.display = "flex";
        document.getElementById("image-box").style.display = "none";
    });
</script>
<script src="../theme/03/assets/js/index.js"></script>
</body>
</html>