<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="website icon" type="png" href="../assets/image/rong.png">
    <meta name="description" content="Chúc mừng năm mới 2025!">
    <meta name="keywords" content="Happy New Year, 2025, Celebration">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="image" content="<%= data.image %>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../assets/css/intro.css">
    <title>Happy New Year</title>
</head>
<body>
    <div class="box-slider">
        <div class="slider1">
            <img src="../assets/image/bgr.jpg" alt="">
            <div class="happynewyear">
                <div class="textHappynewyear">
                    <div class="box-span">
                        <span></span>
                    </div>
                    <div class="box-span">
                        <span></span>
                    </div>
                    <div class="box-span">
                        <span></span>
                    </div>
                    <div class="box-span">
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="box-button">
                <div class="button">
                    <button >Ấn vào đây nè! </button>
                </div>
            </div>
            <!-- <div class="box-button">
                <div class="button">
                    <button>Ấn vào đây nè!</button>
                    <span><i class="fa-solid fa-heart"></i></span>
                </div>
            </div> -->
            <div class="box-slider_img1">
                <div class="slider-img1">
                    <img src="../assets/image/circular-pattern.png" alt="">
                </div>
                <div class="pattern">
                    <img src="../assets/image/pattern.png" alt="">
                </div>
            </div>
            <div class="circle">
                <span></span>
            </div>
            <div class="box-flower">
                <div class="flower-img">
                    <img src="../assets/image/flower.png" alt="">
                </div>
                <div class="flower-img">
                    <img src="../assets/image/flower.png" alt="">
                </div>
                <div class="flower-img">
                    <img src="../assets/image/flower1.png" alt="">
                </div>
                <div class="flower-img">
                    <img src="../assets/image/flower1.png" alt="">
                </div>
                <div class="flower-img">
                    <img src="../assets/image/flower2.png" alt="">
                </div>
                <div class="flower-img">
                    <img src="../assets/image/flower2.png" alt="">
                </div>
            </div>
            <div class="box-slider_img2">
                <div class="box-slider-img2">
                    <div class="slider-img2">
                        <img src="../assets/image/lanterns.png" alt="">
                    </div>
                </div>
                <div class="box-slider-img3">
                    <div class="slider-img3">
                        <img src="../assets/image/lanterns.png" alt="">
                    </div>
                </div>
                <div class="box-slider-img4">
                    <div class="slider-img4">
                        <img src="../assets/image/lanterns.png" alt="">
                    </div>
                </div>
                <div class="box-slider-img5">
                    <div class="slider-img5">
                        <img src="../assets/image/lanterns.png" alt="">
                    </div>
                </div>
            </div>
            <div class="slider-img6">
                <img src="../assets/image/cloud-red1.png" alt="">
                <img src="../assets/image/cloud-red2.png" alt="">
                <img src="../assets/image/cloud-red2.png" alt="">
            </div>
            <div class="box-lion_dance">
                <div class="lion_dance1">
                    <img src="../assets/image/Lion-dance.gif" alt="">
                </div>
                <div class="lion_dance2">
                    <img src="../assets/image/Lion-dance2.gif" alt="">
                </div>
            </div>
            <div class="cat">
                <img src="../assets/image/rong2.png" alt="">
            </div>
            <div class="box-number">
                <div class="number2023">
                    <div class="number">
                        <span>2</span>
                    </div>
                    <div class="number">
                        <span>0</span>
                    </div>
                    <div class="number">
                        <span>2</span>
                    </div>
                    <div class="number">
                        <span>5</span>
                    </div>
                </div>
            </div>
            <div class="box-rim">
                <div class="rim1">
                    <img src="../assets/image/rim1.png" alt="">
                </div>
                <div class="rim2">
                    <img src="../assets/image/rim1.png" alt="">
                </div>
            </div>
            <div class="box-texture_clouds">
                <div class="texture_clouds1">
                    <img src="../assets/image/texture-clouds.png" alt="">
                </div>
                <div class="texture_clouds1">
                    <img src="../assets/image/texture-clouds.png" alt="">
                </div>
                <div class="texture_clouds1">
                    <img src="../assets/image/texture-clouds.png" alt="">
                </div>
                <div class="texture_clouds1">
                    <img src="../assets/image/texture-clouds.png" alt="">
                </div>
                <div class="texture_clouds1">
                    <img src="../assets/image/texture-clouds.png" alt="">
                </div>
            </div>
            <div class="box-big_clouds">
                <div class="big_clouds1">
                    <img src="../assets/image/big-clouds1.png" alt="">
                </div>
                <div class="big_clouds2">
                    <img src="../assets/image/big-clouds2.png" alt="">
                </div>
                <div class="big_clouds3">
                    <img src="../assets/image/big-clouds3.png" alt="">
                </div>
            </div>
        </div>
        <div class="slider2">
            <div class="rhombus"></div>
            <div class="rhombus"></div>
            <div class="rhombus-img">
                <img id="img-user" src="https://cdn.glitch.global/af1cd0a8-d364-46fc-be85-866049320ad7/nanh.jpg?v=1706757761641" alt="">
            </div>
            <div class="mail">
                <button><i class="fa-regular fa-envelope"></i></button>
                <span class="heart"><i class="fa-solid fa-heart"></i></span>

            </div>
        </div>
        <div class="slider3">
            <div class="box-content">
                <div class="left">
                    <img src="../assets/image/bg1.jpg" alt="">
                    <div class="center">

                    </div>
                    <div class="lanterns-content">
                        <img src="../assets/image/lanterns.png" alt="">
                    </div>
                    <div class="box-big_flowers">
                        <img src="../assets/image/big-flower.png" alt="">
                        <img src="../assets/image/big-flower.png" alt="">
                        <img src="../assets/image/big-flower.png" alt="">
                        <img src="../assets/image/big-flower1.png" alt="">
                        <img src="../assets/image/big-flower1.png" alt="">
                        <img src="../assets/image/big-flower2.png" alt="">
                        <img src="../assets/image/big-flower2.png" alt="">
                        <img src="../assets/image/big-flower2.png" alt="">
                    </div>
                    <div class="box-circle_left">
                        <div class="circle_left">
                            <img src="../assets/image/circular-pattern.png" alt="">
                            <div class="text-content">
                                <h2>Happy New</h2>
                                <h1>Year</h1>
                                <span>2025</span>
                            </div>
                        </div>
                    </div>
                    <div class="apricot_blossom">
                        <img src="../assets/image/apricot-blossom.png" alt="">
                        <img src="../assets/image/apricot-blossom.png" alt="">
                        <img src="../assets/image/apricot-blossom.png" alt="">
                        <img src="../assets/image/apricot-blossom.png" alt="">
                        <img src="../assets/image/apricot-blossom.png" alt="">
                        <img src="../assets/image/apricot-blossom.png" alt="">
                    </div>
                </div>
                <div class="right">
                    <div class="content">
                        <div class="title">
                            <h1 id="title">&#129505Gửi Ngọc Ánh!</h1>
                        </div>
                        <p id="message-content">
                            Năm 2023 là một năm đáng nhớ đối với tớ, và cậu cũng rất đặc biệt. Dù là ít ỏi thôi nhưng tớ cảm thấy rất vui vì điều đó. Mong cậu sẽ ngày càng vững vàng với ước mơ ngoài kia. Chúc cậu năm mới sẽ luôn hạnh phúc, luôn vui vẻ như lúc này vậy
                        </p>
                        <div class="fixedContent">
                            <h3 id="user-send"></h3>
                        </div>
                    </div>
                </div>
            </div>
            <i class="fa-solid fa-xmark"></i>
        </div>
    </div>

    <audio id="song">
        <source src="../assets/image/nhac.mp3" type="audio/mp3">
    </audio>

<script>
    // Storage data
    const wishData = {
        id: '<%= data.id %>',
        time: '<%= data.time %>',
        name: '<%= data.name %>',
        image: '<%= data.image %>',
        title: '<%= data.title %>',
        content: '<%= data.content %>'
    };
    
    document.getElementById("title").innerHTML = wishData.title;
    document.getElementById("img-user").src = wishData.image;
    document.getElementById("message-content").innerHTML = wishData.content;
    document.getElementById("user-send").innerHTML = `From ${wishData.name} with love ❤️`;

</script>
<script src="../assets/js/intro.js"></script>
</body>
</html>